*{
    box-sizing: border-box;
}

:root {
    --primary: rgb(210, 226, 235);
    --secondary: rgb(189, 91, 91);
    --tertiary: rgb(240, 234, 210);
    --dark: rgba(63, 65, 69);
    --light: rgba(143, 143, 143);
}

body {
    margin: 5px;
    padding: 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--dark);
    background-color: var(--tertiary);
    line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px;
}

p {
    margin: 0;
}

main {
    margin-top: 30px;
    margin-bottom: 30px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

nav a {
    text-decoration: none;
    padding: 5px 10px;
    color: var(--secondary);
    margin-right: 10px;
    background-image: linear-gradient(270deg, var(--secondary) 0%, var(--secondary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: bottom;
    transition: all 0.25s ease-in;
    font-size: 1.4rem;    
}

nav a:hover {
    background-size: 100% 100%;
    color: var(--primary);
}

header {
    padding: 10px 5% 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    /* background-color: var(--primary); */
    /* box-shadow: 0 10px 30px var(--dark); */
}

header h1 {
    color: var(--primary);
    background-color: var(--dark);
    padding: 5px 2% 5px 5%;
    margin: 0;
    font-size: 1.5;
    line-height: 2;
}

.banner {
    background-image: url("./IMG/IMG_2077.jpeg");
    background-size: cover;
    background-position: center;
    background-blend-mode: soft-light;
    min-height: 20vh;
    color: var(--dark);
    padding: 2% 5%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    text-align: left;
}

.banner h2 {
    display: inline;
    line-height: 2;
    font-size: 4rem;
    padding: 5px 10px;
    margin: 0;
    color: rgba(219, 138, 156);
}

.page-wrapper {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.page-section {
    margin: 30px 0;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
}

.page-section h2 {
    flex: 0 0 30%;
    text-align: right;
    padding-right: 15px;
    border-right: 5px solid var(--light);
    font-size: 3vw;
    line-height: 2;
}

.page-section div {
    flex: 0 0 80%;
}

.page-section p {
    margin-bottom: 20px;
}

.flex-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.flex-item {
    border: 5px solid;
    background-color: var(--primary);
    color: var(--tertiary);
    min-height: 150px;
    max-height: 150px;
    flex-basis: calc(50% - 1em);
    display: flex;
    align-items: flex-end;
    padding: 0 0 20px 0;
    margin: 0.5em;
    text-decoration: none;
    background-blend-mode: soft-light;
    background-size: 100%;
    transition: all 0.5s;
    font-size: 0.9rem;
}
 
.flex-item:hover {
    background-color: rgba(237, 161, 207);
}

.flex-item div {
    background-color: var(--secondary);
    padding: 10px 10px;
}

.flex-item h3 {
    font-size: 1.5rem;
}

.comtact address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

.contact address a {
    color: var(--secondary);
    padding: 10px;
    text-decoration: none;
    font-size: 2rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 2em;
    background-position: center;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display:inline-block;
}

.contact address a:hover {
    background-size: 100% 50%;
    color: var(--secondary);
}

.resume address {
    display: flex;
    flex-wrap: wrap;
    align-items: left;
    height: 100%; 
}

.resume address a {
    color: var(--secondary);
    padding: 10px;
    text-decoration: none;
    font-size: 2rem;
    font-style: normal;
    background-image: linear-gradient(270deg, var(--primary) 0%, var(--primary) 100%);
    background-repeat: no-repeat;
    background-size: 100% 2em;
    background-position: left;
    transition: all 0.25s ease-in;
    margin: 0 0.2rem 0.1rem;
    display:inline-block;
}

.resume address a:hover {
    background-size: 100% 50%;
    color: var(--secondary);
}

.stock {
    background-image: url("./IMG/IMG_0862.jpeg")
}

.weather {
    background-image: url("https://images.unsplash.com/photo-1542831371-29b0f74f9713?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kaW5nfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80");
}

.workday {
    background-image: url("https://d1gtq9mqg5x3oe.cloudfront.net/images/spcs/noncredit/programs/coding/coding-bootcamp/hero/coding-hero-1500x500.jpg");
}

.gitcommand {
    background-image: url("http://git-scm.com/images/logos/1color-orange-lightbg@2x.png");
}

@media screen and (max-width: 980px) {
    header {
        padding: 0 0 10px 0;
        justify-content: center;
        text-align: center;
    }

    header h1 {
        width: 100%;
        padding: 5px;
        margin-bottom: 10px;
        font-size: 10vw;
    }

    header nav {
        justify-content: center;
    }

    .page-section > h2,

    .page-section > div {
        flex: 0 0 100%;
    }

    .page-section > h2 {
        border-right: none;
        border-bottom: 4px solid var(--primary);
        margin-bottom: 20px;
        padding-bottom: 10px;
        text-align: left;
        font-size: 7vw;
    }
}

@media screen and (max-width: 768px) {
    .flex-item,
    .flex-item:first-child {
        flex-basis: 100%;
    }

    .flex-item:first-child {
        min-height: 150%;
    }
    .hero-banner {
        justify-content: center;
        text-align: center;
    }

    .contact address {
        flex-direction: column;
        align-items: flex-start;
    }
}
